/* -------------- BODY -------------- */
body{
    background: url('../img/3.png') no-repeat center center fixed;
    background-size: cover;
    padding-top: 70px;  /* sesuaikan tinggi navbar kamu */
    padding-bottom: 70px; /* sesuaikan tinggi footer kamu */
    overflow-y: auto;
}


/* -------------- FOOTER ------------- */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}


/* -------------- NAVBAR ------------- */
.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);          
    padding: 1rem 2rem;                  
    position: relative;      
    z-index: 1000;                     
}

.nav-item{
    color: black;
}

/* Warna teks navbar dan brand */
.navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff !important;  /* teks putih */
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Hover efek */
.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #f8c146 !important; /* warna hover emas */
}

/* Aktif menu */
.navbar .nav-link.active {
    color: #f8c146 !important;  
    border-bottom: 2px solid #f8c146;
}

/* Supaya menu navbar berada di tengah */
.navbar-nav {
    margin: 0 auto;  
}

/* Teks link di tengah */
.navbar .nav-link {
    text-align: center;
}

/* Dropdown menu */
.dropdown-menu {
    background-color: rgba(26, 26, 26, 0.9);
    position: absolute;
    z-index: 2000;        
}

/* Item dropdown */
.dropdown-item {
    color: #ffffff; /* teks putih */
}

.dropdown-item:hover {
    background-color: #333;
    color: #f8c146;
}

/* untuk bg tombol toggler navbar */
.navbar-toggler-icon{
    background: white;
}


/* ---------- CSS Form Label ---------- */
.form-label{
    color: #000;
}

.judul{
    color:#ffffff;
}

/* untuk responsive form select */
.select2-container {
    width: 100% !important;
}



/* -------------- tree ---------------- */
    .material-item {
        display: none;
    }

    .level-1 {
        margin-left: 1em;
    }

    .level-2 {
        margin-left: 4em;
    }

    .level-3 {
        margin-left: 8em;
    }

    .level-4 {
        margin-left: 12em;
    }

    .level-5 {
        margin-left: 16em;
    }

    .level-6 {
        margin-left: 20em;
    }

    .level-7 {
        margin-left: 24em;
    }
    
    .level-8 {
        margin-left: 28em;
    }

  .baris2 {
    display: block;
    margin-left: 1rem; /* jarak sedikit dari kiri */

    white-space: normal; /* agar teks panjang turun ke bawah */
    border-radius: 7px;
    margin-left: 2em;
    display: inline-block;
    background-color: rgba(0, 149, 255, 0.448);
    padding: 2px 4px;
    margin-top: 2px;
    }

    .baris2-wrapper {
    display: block !important; /* pastikan bukan flex */
  }

