/* -------------- BODY -------------- */
body{
    background: url('../img/3.png') no-repeat center center fixed;
    background-size: cover;
}

/* -------------- NAVBAR ------------- */
.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);          
    padding: 1rem 2rem;                  
    position: relative;      
    z-index: 1000;                     
}

/* Warna teks navbar dan brand */
.navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff !important;  /* teks putih */
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Hover efek */
.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #f8c146 !important; /* warna hover emas */
}

/* Aktif menu */
.navbar .nav-link.active {
    color: #f8c146 !important;  
    border-bottom: 2px solid #f8c146;
}

/* Supaya menu navbar berada di tengah */
.navbar-nav {
    margin: 0 auto;  
}

/* Teks link di tengah */
.navbar .nav-link {
    text-align: center;
}

/* Dropdown menu */
.dropdown-menu {
    background-color: rgba(26, 26, 26, 0.9);
    position: absolute;
    z-index: 2000;        
}

/* Item dropdown */
.dropdown-item {
    color: #ffffff; /* teks putih */
}

.dropdown-item:hover {
    background-color: #333;
    color: #f8c146;
}

/* css label form */
.form-label{
    color: #000;
}

.judul{
    color:#ffffff;
}

/* CSS TOOGLE RESVONSIVE */
.navbar-toggler{
    background: #ffffff;
}