{% extends "templates2/index.html" %}
{% load static %}
{% block content %}

<div class="content-wrapper text-light">
  <div class="container-xxl flex-grow-1 container-p-y">

    <!-- ==================== TRACEABILITY DASHBOARD ====================== -->
    <div class="row gy-6">
      <h3 class="mb-4 fw-semibold text-white fw-bold text-center">Traceability Dashboard</h3>

      <!-- ========== Filter Mesin dan Tanggal ========== -->
      <div class="col-12 mb-3">
        <div class="card border border-secondary rounded-3 shadow p-3"
          style="background-color: rgba(0, 88, 203, 0.445);">
          <form method="get" class="row g-3" id="traceabilityForm">

            <!-- Start Date -->
            <div class="col-md-3">
              <label for="start_date" class="form-label fw-bold text-white">From :</label>
              <select name="start_date" id="start_date" class="form-select" onchange="this.form.submit()">
                <option value="">-- Select Tanggal & Shift --</option>
                {% for opt in date_shift_choices %}
                <option value="{{ opt.value }}" {% if selected_start_date == opt.value %}selected{% endif %}>
                  {{ opt.label }}
                </option>
                {% endfor %}
              </select>
            </div>

            <!-- End Date -->
            <div class="col-md-3">
              <label for="end_date" class="form-label fw-bold text-white">To :</label>
              <select name="end_date" id="end_date" class="form-select " onchange="this.form.submit()">
                <option value="">-- Select Tanggal & Shift --</option>
                {% for opt in date_shift_choices %}
                <option value="{{ opt.value }}" {% if selected_end_date == opt.value %}selected{% endif %}>
                  {{ opt.label }}
                </option>
                {% endfor %}
              </select>
            </div>

            <!-- Production Phase -->
            <div class="col-md-3">
              <label for="trc" class="form-label fw-bold text-white">Production Phase :</label>
              <select name="trc_code" id="trc" class="form-select" onchange="this.form.submit()">
                <option value="">-- Select Fase --</option>
                {% for trc in trc_list %}
                <option value="{{ trc.TRC_PP_CODE }}" {% if trc.TRC_PP_CODE == selected_pp %}selected{% endif %}>
                  {{ trc.TRC_PP_CODE }} - {{ trc.PP_DESC }}
                </option>
                {% endfor %}
              </select>
            </div>

            <!-- Machine -->
            <div class="col-md-3">
              <label for="mch_info" class="form-label fw-bold text-white">Machine :</label>
              <select name="mch_info" id="mch_info" class="form-select" onchange="this.form.submit()">
                <option value="">-- Select Mesin --</option>
                {% for m in machines %}
                {% with value=m.TRC_PP_CODE|add:"|"|add:m.TRC_MCH_CODE %}
                <option value="{{ value }}" {% if selected_mch_info == value %}selected{% endif %}>
                  {{ m.TRC_PP_CODE }} - {{ m.TRC_MCH_CODE }}
                </option>
                {% endwith %}
                {% endfor %}
              </select>
            </div>

            <div class="col-12 mt-3">
              <a href="{% url 'index' %}" class="btn btn-primary">Reset</a>
            </div>
          </form>
        </div>
      </div>

      <!-- Total Consumed-->
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="card border border-primary rounded-3 shadow p-3 text-center"
            style="background-color: rgba(13, 110, 253, 0.25);">
            <h6 class="text-white">Total Consumed</h6>
            <h3 class="text-white">{{ total_consumed }}</h3>
          </div>

          <!-- Tabel Consumed -->
          <div class="card border border-primary shadow bg-dark text-white mt-4">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-0">Tabel Consumed</h5>
            </div>
            <div class="card-body table-responsive" style="background-color: rgb(0, 44, 101);">

              <table id="datatable1" class="table table-hover table-bordered align-middle mb-0">
                <thead class="table-primary text-dark">
                  <tr>
                    <th>No</th>
                    <th>IP Materials</th>
                    <th>Memproduksi</th>
                    <th>Total Consumed</th>
                  </tr>
                </thead>
                </tbody>
                {% for row in consumed_summary %}
                <tr>
                  <td>{{ forloop.counter}}</td>
                  <td>{{ row.TRC_MAT_SAP_CODE}}</td>
                  <td>{{ row.SFC_CODE}} - {{ row.SFC_DESC}}</td>
                  <td>{{ row.total }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Produced -->
        <div class="col-md-6">
          <div class="card border border-success rounded-3 shadow p-3 text-center"
            style="background-color: rgba(25, 135, 84, 0.3);">
            <h6 class="text-white">Total Produced</h6>
            <h3 class="text-white">{{ total_produced }}</h3>
          </div>

          <!-- Tabel Produced -->
          <div class="card border border-primary shadow bg-dark text-white mt-4">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-0">Tabel Produced</h5>
            </div>
            <div class="card-body table-responsive" style="background-color: rgb(0, 44, 101);">
              <table id="datatable2" class="table table-hover table-bordered align-middle mb-0">
                <thead class="table-primary text-dark">
                  <tr>
                    <th>No</th>
                    <th>IP Materials</th>
                    <th>Memproduksi</th>
                    <th>Total Produced</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in produced_summary %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.TRC_MAT_SAP_CODE }}</td>
                    <td>{{ row.SFC_CODE }} - {{ row.SFC_DESC }}</td>
                    <td>{{ row.total }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pemisah Dashboard -->
    <hr class="my-5" style="border: 2px solid #fff; box-shadow: 0 0 10px #3b76f5, 0 0 20px #3b76f5, 0 0 40px #3b76f5;">

    <!-- ==================== PRODUCTION DASHBOARD ====================== -->
    <div class="row mt-5">
      <h3 class="mb-4 fw-semibold text-white fw-bold text-center">Production Data Dashboard</h3>

      <!-- Filter Form -->
      <div class="col-lg-8 mb-4">
        <div class="card border border-secondary p-3 h-100" style="background-color: rgba(0, 88, 203, 0.445);">
          <form method="get" class="row g-3 align-items-end" id="productionForm">

            <!-- Tanggal Produksi -->
            <div class="col-md-4">
              <label class="form-label fw-bold text-white mb-1">Production Date :</label>
              <select name="ps_date" id="ps_date" class="form-control bg-dark text-white border-secondary"
                onchange="this.form.submit()">
                <option value="">-- Pilih Tanggal --</option>
                {% for tgl in daftar_tanggal %}
                <option value="{{ tgl|date:'Y-m-d' }}" {% if selected_ps_date == tgl|date:'Y-m-d' %}selected{% endif %}>
                  {{ tgl|date:"Y-m-d" }}
                </option>
                {% endfor %}
              </select>
            </div>

            <!-- SFC (area)-->
            <div class="col-md-4">
              <label for="sfc" class="form-label fw-bold text-white">Area :</label>
              <select name="sfc_code" id="sfc" class="form-select" onchange="this.form.submit()">
                <option value="">-- Select Area --</option>
                {% for sfc in sfc_list %}
                <option value="{{ sfc.SFC_CODE }}" {% if sfc.SFC_CODE == selected_sfc %}selected{% endif %}>
                  {% if sfc.SFC_CODE == "AL" %}AL (Building)
                  {% elif sfc.SFC_CODE == "AX" %}AX (Curing)
                  {% else %}{{ sfc.SFC_CODE }}{% endif %}
                </option>
                {% endfor %}
              </select>
            </div>

            <!-- MAT SAP Code -->
            <div class="col-md-4">
              <label class="form-label fw-bold text-white mb-1">IP Materials :</label>
              <select name="mat_sap_code" id="mat_sap_code" class="form-control bg-dark text-white border-secondary"
                onchange="this.form.submit()">
                <option value="">-- Pilih Material --</option>
                {% for m in daftar_mat_sap %}
                <option value="{{ m.MAT_SAP_CODE }}" {% if selected_mat_sap == m.MAT_SAP_CODE %}selected{% endif %}>
                  {{ m.MAT_CODE }} - {{ m.MAT_SAP_CODE }} - {{ m.CNT_CODE }} - {{ m.MAT_VARIANT }}
                </option>
                {% endfor %}
              </select>
            </div>

            <!-- Tombol Reset -->
            <div class="col-12 mt-3">
              <a href="{% url 'index' %}" class="btn btn-primary btn-reset">Reset</a>
            </div>
          </form>
        </div>
      </div>

      <!-- Card Total Quantity Produksi -->
      <div class="col-lg-4 mb-4">
        <div class="card border border-warning rounded-3 shadow h-100"
          style="background-color: rgba(255, 193, 7, 0.25);">
          <div class="card-body text-center py-4">
            <h6 class="text-white mb-2">Total Quantity Produksi</h6>
            <h3 class="mb-0 fw-bold text-white">{{ total_quantity|default:"--" }}</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabel Production Data -->
    <div class="card border border-primary shadow bg-dark text-white">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Durasi Produksi</h5>
      </div>
      <div class="card-body table-responsive" style="background-color: rgb(0, 44, 101);">
        <table id="datatable" class="table table-hover table-bordered align-middle mb-0">
          <thead class="table-primary text-dark">
            <tr>
              <th>No</th>
              <th>IP Materials</th>
              <th>Kode Mesin</th>
              <th>SFC Desc</th>
              <th>Waktu Mulai</th>
              <th>Waktu Selesai</th>
              <th>Durasi</th>
              <th>Quantity</th>
              <th>Shift</th>
            </tr>
          </thead>
          <tbody>
            {% if tabel_data %}
            {% for row in tabel_data %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ row.mat_sap_code }}</td>
              <td>{{ row.mch_code }}</td>
              <td>{{ row.sfc_desc }}</td>
              <td>{{ row.ps_start_prod|date:"Y-m-d H:i" }}</td>
              <td>{{ row.ps_end_prod|date:"Y-m-d H:i" }}</td>
              <td>{{ row.durasi_hms }}</td>
              <td>{{ row.ps_quantity }}</td>
              <td>{{ row.shf_code }}</td>
            </tr>
            {% endfor %}

            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


<!-- JS  -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<!-- DataTables Core + Bootstrap 5 Integration -->
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.bootstrap5.js"></script>

<!-- DataTables Buttons Extension -->
<script src="https://cdn.datatables.net/buttons/3.2.5/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.bootstrap5.js"></script>

<!-- Export Dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<!-- Buttons Features -->
<script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.colVis.min.js"></script>

<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!-- JS TABLE PRODUCED DAN CONSUMED-->
<script>
  let table1 = new DataTable('#datatable1', {
    lengthMenu: [
      [5, 10, 25, -1],
      [5, 10, 25, "All"]
    ]
  });

  let table2 = new DataTable('#datatable2', {
    lengthMenu: [
      [5, 10, 25, -1],
      [5, 10, 25, "All"]
    ]
  });
</script>


<!-- JS TABEL PRODUCTION -->
<script>
  new DataTable('#datatable', {
    responsive: true, // for view smartphone
    dom: '<"d-flex justify-content-between align-items-center mb-2"lBf>rt<"d-flex justify-content-between align-items-center mt-2"ip>',
    buttons: [{
      extend: 'excelHtml5',
      className: 'btn-success' // contoh pake kelas bootstrap
    }],

    lengthMenu: [
      [5, 10, 25, -1],
      [5, 10, 25, "All"]
    ],
  });
</script>


<!-- SELECT 2 -->
<script>
  // DASHBOARD TRACEABILITY
  $('#start_date').select2();
  $('#end_date').select2();
  $('#trc').select2();
  $('#mch_info').select2();

  // DASHBOARD PRODUCTION
  $('#sfc').select2();
  $('#mat_sap_code').select2();
  $('#ps_date').select2();
</script>

{% endblock %}