
1. menu machine (Building gada FL PHASE P) DONE
2. Menu machine (S02 tidak ada FL PHASE C) DONE
3. Tidak ada loading setelah pilih filter (jadi pilih filter dulu habis itu load untuk tampil data)
4. SEMUA MENU (data yang tampil di urutkan berdasarkan data yang paling lama) DONE
PAKE (traceability_qs = traceability_qs.order_by('TRC_START_TIME')) AND (traceability_qs = WMS_TRACEABILITY.objects.all())

5. Menu Materials ketika FL_PHASE = 'C' itu sudah benar, 
tetapi ketika FL_PHASE ='P' data baris2 tidak terfilter berdasarkan shift atau jam. seharusnya diambil berdasarkan baris1 yang memiliki status C, misal baris1 memiliki baris2 2 data

ROOT 1 - Baris1 A
    - Baris2 A1
        - Child dari Baris2 A1
    - Baris2 A2
        - Child dari Baris2 A2
maka harus tampil semua sepeti perumpamaan ku diatas. 
notes kalo yang FL_PHASE = 'C' itu sudah benar menggunakan pengaturan tanggal jam dan lainnya data yang tampil juga sudah benar. 


ALUR FORM MATERIALS
1. Pilih form tanggal
2. pilih form FL PHASE
3. Pilih form semifinished class 
4. Pilih form materials (form ini tampil berdasarkan tanggal dan form semifinished terpilih)
5. Lalu data tampil berdasarkan tanggal, form materials, dan fl phase
6. Apabila FL_PHASE = 'C' maka data yang tampil ADA BARIS 1 DAN BARIS 2. BARIS 1 YANG BERSATATUS C DAN BARIS2 YANG BERSTATUS P. 
7.  Apabila FL_PHASE = 'P' maka data yang tampil ADA BARIS 1 DAN BARIS 2. BARIS 1 YANG BERSATATUS P DAN BARIS2 YANG BERSTATUS C.
8. Apabila ketika di baris 2 memiliki data lebih dari 1 maka data tersebut harus di tampilkan. 
9. baris2 ditampilkan tidak sesuai dengan tanggal yang terpilih jadi apabila tanggal baris2 keluar dari tanggal terfilter tetap di tampilkan karena baris 2 mengikuti baris 1 
---CONTOH---
ROOT 1 - Baris1 A
            - Baris2 A1
                - Child dari Baris2 A1
            - Baris2 A2
                - Child dari Baris2 A2


---- PENGATURAN DATA FORM BERDASARKAN FILTER TANGGAL ----
SELECT [TRC_MCH_CODE]
FROM [PCS].[dbo].[WMS_TRACEABILITY] 
	WHERE
	TRC_PP_CODE = 'S04'
	AND
    ((TRC_END_TIME = '2025-10-08 00:00:00' AND TRC_END_TIME < '2025-10-08 08:00:00')
OR

(TRC_START_TIME > '2025-10-08 00:00:00' AND TRC_START_TIME < '2025-10-08 08:00:00'))







SELECT TRC_MAT_SAP_CODE
FROM [PCS].[dbo].[WMS_TRACEABILITY] 
WHERE 
TRC_FL_PHASE IN ('P', 'C')
AND (
-- Logika 1: Overlapping waktu dengan range 1
NOT (
TRC_END_TIME < '2025-10-04 00:00:00' OR
TRC_START_TIME > '2025-10-04 08:00:00'
)
OR
-- Logika 2: waktu start atau end ada di range 2
(
(TRC_END_TIME > '2025-10-04 00:00:00' AND TRC_END_TIME < '2025-10-04 08:00:00')
OR
(TRC_START_TIME > '2025-10-04 00:00:00' AND TRC_START_TIME < '2025-10-04 08:00:00')
)
)
GROUP BY TRC_MAT_SAP_CODE
HAVING 
SUM(CASE WHEN TRC_FL_PHASE = 'P' THEN 1 ELSE 0 END) > 1
AND
SUM(CASE WHEN TRC_FL_PHASE = 'C' THEN 1 ELSE 0 END) > 1;

-->