{% extends "templates2/index.html" %}
{% block content %}

<style>
    .material-item {
        display: none;
    }

    .level-1 {
        margin-left: 1em;
    }

    .level-2 {
        margin-left: 2em;
    }

    .level-3 {
        margin-left: 3em;
    }

    .level-4 {
        margin-left: 4em;
    }

    .level-5 {
        margin-left: 5em;
    }

    .level-6 {
        margin-left: 6em;
    }

    .level-7 {
        margin-left: 7em;
    }
</style>

<div class="container">
    <h3 style="margin-left: 30px;">By Machine</h3>

    <!-- FILTER -->
    <div class="container mt-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <form method="get" action="traceability_by_machine" class="row g-3" id="filterForm">

                    <!-- Production Phase -->
                    <div class="col-md-4">
                        <label for="trc" class="form-label fw-bold">Production Phase :</label>
                        <select name="trc_code" id="trc" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Fase --</option>
                            {% for trc in trc_list %}
                            <option value="{{ trc.TRC_PP_CODE }}"
                                {% if trc.TRC_PP_CODE == selected_trc %}selected{% endif %}>
                                {{ trc.TRC_PP_CODE }} - {{ trc.PP_DESC }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Machine -->
                    <div class="col-md-4">
                        <label for="mch_info" class="form-label fw-bold">Machine :</label>
                        <select name="mch_info" id="mch_info" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Mesin --</option>
                            {% for m in machines %}
                            {% with value=m.TRC_PP_CODE|add:"|"|add:m.TRC_MCH_CODE %}
                            <option value="{{ value }}" {% if selected_mch_info == value %}selected{% endif %}>
                                {{ m.TRC_PP_CODE }} - {{ m.TRC_MCH_CODE }}
                            </option>
                            {% endwith %}
                            {% endfor %}
                        </select>
                    </div>

                    <!-- FL Phase -->
                    <div class="col-md-4">
                        <label for="mch_info" class="form-label fw-bold">FL Phase :</label>
                        <select name="trc_fl_phase" id="trc_fl_phase" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Phase --</option>
                            {% for p in phase %}
                            <option value="{{ p.TRC_FL_PHASE }}"
                                {% if p.TRC_FL_PHASE == selected_phase %}selected{% endif %}>
                                {% if p.TRC_FL_PHASE == "C" %} Consumed CU
                                {% elif p.TRC_FL_PHASE == "P" %} Produced CU
                                {% else %} {{ p.TRC_FL_PHASE }}
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </div>


                    <!-- Start Date -->
                    <div class="col-md-4">
                        <label for="start_date" class="form-label fw-bold">From :</label>
                        <select name="start_date" id="start_date" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Tanggal & Shift --</option>
                            {% for opt in date_shift_choices %}
                            <option value="{{ opt.value }}"
                                {% if selected_start_date == opt.value %}selected{% endif %}>
                                {{ opt.label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- End Date -->
                    <div class="col-md-4">
                        <label for="end_date" class="form-label fw-bold">To :</label>
                        <select name="end_date" id="end_date" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Tanggal & Shift --</option>
                            {% for opt in date_shift_choices %}
                            <option value="{{ opt.value }}" {% if selected_end_date == opt.value %}selected{% endif %}>
                                {{ opt.label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                </form>

                <div class="col-md-12 text-end mt-2">
                    <a href="traceability_by_machine" class="btn btn-secondary">Reset</a>
                </div>
            </div>
        </div>

        <!-- TRACEABILITY TREE -->
        {% if traceability_tree %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Traceability Views</h5>
                <div id="material-tree">
                    {% for row in traceability_tree %}
                    <div class="material-item level-{{ row.level|add:1 }} mb-1">
                        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
                            class="scrollspy-example" tabindex="0">

                            <button class="toggle-btn" data-id="{{ forloop.counter }}">▶</button>

                            <!-- Baris 1 -->
                            {{ row.TRC_SO_CODE }} {{ row.TRC_CU_EXT_PROGR }} -
                            {{ row.MAT_CODE }} -
                            {{ row.TRC_MAT_SAP_CODE }} -
                            ({{ row.TRC_START_TIME }} - {{ row.TRC_END_TIME }}) -
                            ({{ row.TRC_WM_CODE }} - {{ row.WM_NAME }})

                            <br>

                            <!-- Baris 2 -->
                            <div style="margin-left: 8px; background-color: rgb(199, 190, 250);">
                                {{ row.PP_CODE }} {{ row.MCH_CODE }} -
                                ({{ row.TRC_START_TIME}} - {{ row.TRC_END_TIME }})
                                ({{ row.TRC_WM_CODE }} - {{ row.WM_NAME }})
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<!-- JAVA SCRIPT TOGGLE CHILD -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Tampilkan semua level-1 (root)
        document.querySelectorAll(".material-item.level-1").forEach(item => item.style.display = "block");
        document.querySelectorAll(".toggle-btn").forEach(btn => {
            btn.addEventListener("click", function () {
                let currentItem = this.parentElement;
                let currentLevel = parseInt(currentItem.className.match(/level-(\d+)/)[1]);
                let next = currentItem.nextElementSibling;
                let isExpanding = this.textContent === "▶";
                this.textContent = isExpanding ? "▼" : "▶";
                while (next && next.classList.contains("material-item")) {
                    let level = parseInt(next.className.match(/level-(\d+)/)[1]);
                    if (level <= currentLevel) break;
                    if (level === currentLevel + 1) {
                        next.style.display = isExpanding ? "block" : "none";
                    }
                    if (!isExpanding && level > currentLevel) {
                        next.querySelector(".toggle-btn").textContent = "▶";
                    }
                    next = next.nextElementSibling;
                }
            });
        });
    });
</script>

<!-- JS SELECT2-->
<script>
    $('#trc').select2();
    $('#mch_info').select2();
    $('#trc_fl_phase').select2();
    $('#start_date').select2();
    $('#end_date').select2();
</script>

{% endblock %}