{% extends "templates2/index.html" %}
{% block content %}

<style>
    .material-item {
        display: none;
    }

    .level-1 {
        margin-left: 1em;
    }

    .level-2 {
        margin-left: 4em;
    }

    .level-3 {
        margin-left: 8em;
    }

    .level-4 {
        margin-left: 12em;
    }

    .level-5 {
        margin-left: 16em;
    }

    .level-6 {
        margin-left: 20em;
    }

    .baris2 {
        border-radius: 7px;
        margin-left: 8px;
        display: inline-block;
        background-color: rgb(219, 213, 251);
        padding: 2px 4px;
    }
</style>

<!-- contant -->
<div class="container mt-4">
    <h3 class="judul mb-4">By Machine</h3>

    <!-- FILTER -->
    <div class="container mt-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <form method="get" action="traceability_by_machine" class="row g-3" id="filterForm">

                    <!-- Production Phase -->
                    <div class="col-md-4">
                        <label for="trc" class="form-label fw-bold">Production Phase :</label>
                        <select name="trc_code" id="trc" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Fase --</option>
                            {% for trc in trc_list %}
                            <option value="{{ trc.TRC_PP_CODE }}"
                                {% if trc.TRC_PP_CODE == selected_trc %}selected{% endif %}>
                                {{ trc.TRC_PP_CODE }} - {{ trc.PP_DESC }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Machine -->
                    <div class="col-md-4">
                        <label for="mch_info" class="form-label fw-bold">Machine :</label>
                        <select name="mch_info" id="mch_info" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Mesin --</option>
                            {% for m in machines %}
                            {% with value=m.TRC_PP_CODE|add:"|"|add:m.TRC_MCH_CODE %}
                            <option value="{{ value }}" {% if selected_mch_info == value %}selected{% endif %}>
                                {{ m.TRC_PP_CODE }} - {{ m.TRC_MCH_CODE }}
                            </option>
                            {% endwith %}
                            {% endfor %}
                        </select>
                    </div>

                    <!-- FL Phase -->
                    <div class="col-md-4">
                        <label for="mch_info" class="form-label fw-bold">FL Phase :</label>
                        <select name="trc_fl_phase" id="trc_fl_phase" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Phase --</option>
                            {% for p in phase %}
                            <option value="{{ p.TRC_FL_PHASE }}"
                                {% if p.TRC_FL_PHASE == selected_phase %}selected{% endif %}>
                                {% if p.TRC_FL_PHASE == "C" %} Consumed CU
                                {% elif p.TRC_FL_PHASE == "P" %} Produced CU
                                {% else %} {{ p.TRC_FL_PHASE }}
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Start Date -->
                    <div class="col-md-4">
                        <label for="start_date" class="form-label fw-bold">From :</label>
                        <select name="start_date" id="start_date" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Tanggal & Shift --</option>
                            {% for opt in date_shift_choices %}
                            <option value="{{ opt.value }}"
                                {% if selected_start_date == opt.value %}selected{% endif %}>
                                {{ opt.label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- End Date -->
                    <div class="col-md-4">
                        <label for="end_date" class="form-label fw-bold">To :</label>
                        <select name="end_date" id="end_date" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Tanggal & Shift --</option>
                            {% for opt in date_shift_choices %}
                            <option value="{{ opt.value }}" {% if selected_end_date == opt.value %}selected{% endif %}>
                                {{ opt.label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                </form>

                <div class="col-md-12 text-end mt-2">
                    <a href="traceability_by_machine" class="btn btn-primary btn-reset">Reset</a>
                </div>
            </div>
        </div>

        <!-- traceability views by machine -->
        {% if traceability_tree %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Traceability Views</h5>
                <div id="material-tree">
                    {% for row in traceability_tree %}
                    <div class="material-item level-{{ row.level|add:1 }} mb-1">
                        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
                            class="scrollspy-example" tabindex="0">
                            <button class="toggle-btn" data-id="{{ forloop.counter }}">▶</button>
                            <!-- traceability views by machine -->
                            {% if row.type == "root" %}
                            <!-- Root node -->
                            {{ row.baris1.TRC_SO_CODE }}
                            {{ row.baris1.TRC_CU_EXT_PROGR }} -
                            {{ row.baris1.MAT_CODE }} -
                            {{ row.baris1.TRC_MAT_SAP_CODE }} -
                            ({{ row.baris1.TRC_START_TIME }} -
                            {{ row.baris1.TRC_END_TIME }}) -
                            ({{ row.baris1.TRC_WM_CODE }} -
                            {{ row.baris1.WM_NAME }})
                            <br>
                            {% if row.baris2 %}
                            <div class="baris2">
                                {{ row.baris2.TRC_PP_CODE }}
                                {{ row.baris2.TRC_MCH_CODE }} -
                                ({{ row.baris2.TRC_START_TIME }} -
                                {{ row.baris2.TRC_END_TIME }})
                                ({{ row.baris2.TRC_WM_CODE }} -
                                {{ row.baris2.WM_NAME }})
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- end contant -->

<!-- JS  -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>



<!-- JAVA SCRIPT TOGGLE CHILD -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Tampilkan semua level-1 (root)
        document.querySelectorAll(".material-item.level-1").forEach(item => item.style.display = "block");
        document.querySelectorAll(".toggle-btn").forEach(btn => {
            btn.addEventListener("click", function () {
                let currentItem = this.parentElement.parentElement;
                let currentLevel = parseInt(currentItem.className.match(/level-(\d+)/)[1]);
                let next = currentItem.nextElementSibling;
                let isExpanding = this.textContent === "▶";
                this.textContent = isExpanding ? "▼" : "▶";
                while (next && next.classList.contains("material-item")) {
                    let level = parseInt(next.className.match(/level-(\d+)/)[1]);
                    if (level <= currentLevel) break;
                    if (level === currentLevel + 1) {
                        next.style.display = isExpanding ? "block" : "none";
                    }
                    if (!isExpanding && level > currentLevel) {
                        let toggle = next.querySelector(".toggle-btn");
                        if (toggle) toggle.textContent = "▶";
                        next.style.display = "none";
                    }
                    next = next.nextElementSibling;
                }
            });
        });
    });
</script>

<!-- JS SELECT2-->
<script>
    $('#trc').select2();
    $('#mch_info').select2();
    $('#trc_fl_phase').select2();
    $('#start_date').select2();
    $('#end_date').select2();
</script>

{% endblock %}