{% extends "templates2/index.html" %}
{% block content %}
<!-- contant -->
<div class="container mt-4">
    <h3 class="judul mb-4">By Materials</h3>
    <!-- Filter -->
    <div class="container mt-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <form method="get" action="traceability_by_materials" class="row g-3" id="filterForm">
                    <!-- Start Date -->
                    <div class="col-md-4">
                        <label for="start_date" class="form-label fw-bold">From :</label>
                        <select name="start_date" id="start_date" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Date & Shift --</option>
                            {% for opt in date_shift_choices %}
                            <option value="{{ opt.value }}"
                                {% if selected_start_date == opt.value %}selected{% endif %}>
                                {{ opt.label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- End Date -->
                    <div class="col-md-4">
                        <label for="end_date" class="form-label fw-bold">To :</label>
                        <select name="end_date" id="end_date" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Date & Shift --</option>
                            {% for opt in date_shift_choices %}
                            <option value="{{ opt.value }}" {% if selected_end_date == opt.value %}selected{% endif %}>
                                {{ opt.label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <!-- Semifinished -->
                    <div class="col-md-4">
                        <label for="sfc" class="form-label fw-bold">Semifinished Class :</label>
                        <select name="sfc_code" id="sfc" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select SF --</option>
                            {% for sfc in sfc_list %}
                            <option value="{{ sfc.SFC_CODE }}" {% if sfc.SFC_CODE == selected_sfc %}selected{% endif %}>
                                {{ sfc.SFC_CODE }} - {{ sfc.SFC_DESC }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Materials -->
                    <div class="col-md-4">
                        <label for="mat" class="form-label fw-bold">Materials :</label>
                        <select name="mat_info" id="mat" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select Materials --</option>
                            {% for m in material_list %}
                            <option value="{{ m.TRC_MAT_SAP_CODE }}"
                                {% if m.TRC_MAT_SAP_CODE == selected_mat_info %}selected{% endif %}>
                                {{ m.TRC_MAT_SAP_CODE }} - {{ m.TRC_CNT_CODE }} - {{ m.TRC_MAT_VARIANT }}
                                ({{ m.MAT_CODE }} {{ m.MAT_DESC }})
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- FL Phase -->
                    <div class="col-md-4">
                        <label for="trc_fl_phase" class="form-label fw-bold">FL Phase :</label>
                        <select name="trc_fl_phase" id="trc_fl_phase" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select FL Phase --</option>
                            {% for p in phase %}
                            <option value="{{ p.TRC_FL_PHASE }}"
                                {% if p.TRC_FL_PHASE == selected_phase %}selected{% endif %}>
                                {% if p.TRC_FL_PHASE == "C" %}C (Consumed)
                                {% elif p.TRC_FL_PHASE == "P" %}P (Produced)
                                {% else %}{{ p.TRC_FL_PHASE }}{% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>

                <!-- Tombol Reset -->
                <div class="row mt-4">
                    <div class="col-md-12">
                        <a href="traceability_by_materials" class="btn btn-primary btn-reset">Reset</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- traceability views by materials-->
        {% if traceability_materials %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Traceability Views</h5>
                <div id="material-tree">
                    {% for row in traceability_materials %}
                    <div class="material-item level-{{ row.level|add:1 }} mb-1">
                        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
                            class="scrollspy-example" tabindex="0">
                            <button class="toggle-btn" data-id="{{ forloop.counter }}">▶</button>
                            <!-- traceability views by machine -->
                            {% if row.type == "root" %}
                            <!-- Root node -->
                            {{ row.baris1.TRC_SO_CODE }}
                            {{ row.baris1.TRC_CU_EXT_PROGR }} -
                            {{ row.baris1.MAT_CODE }} -
                            {{ row.baris1.TRC_MAT_SAP_CODE }} -
                            ({{ row.baris1.TRC_START_TIME }} -
                            {{ row.baris1.TRC_END_TIME }}) -
                            ({{ row.baris1.TRC_WM_CODE }} -
                            {{ row.baris1.WM_NAME }})
                            <br>
                            {% if row.baris2 %}
                            <div class="baris2">
                                {{ row.baris2.TRC_PP_CODE }} -
                                {{ row.baris2.TRC_MCH_CODE }} -
                                ({{ row.baris2.TRC_START_TIME }} -
                                {{ row.baris2.TRC_END_TIME }})
                                ({{ row.baris2.TRC_WM_CODE }} -
                                {{ row.baris2.WM_NAME }})
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- end contant -->


<!-- JS  -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!-- JAVA SCRIPT LINE CHILD -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Tampilkan semua level-1 (root)
        document.querySelectorAll(".material-item.level-1").forEach(item => item.style.display = "block");
        document.querySelectorAll(".toggle-btn").forEach(btn => {
            btn.addEventListener("click", function () {
                let currentItem = this.parentElement.parentElement;
                let currentLevel = parseInt(currentItem.className.match(/level-(\d+)/)[1]);
                let next = currentItem.nextElementSibling;
                let isExpanding = this.textContent === "▶";
                this.textContent = isExpanding ? "▼" : "▶";
                while (next && next.classList.contains("material-item")) {
                    let level = parseInt(next.className.match(/level-(\d+)/)[1]);
                    if (level <= currentLevel) break;
                    if (level === currentLevel + 1) {
                        next.style.display = isExpanding ? "block" : "none";
                    }
                    if (!isExpanding && level > currentLevel) {
                        let toggle = next.querySelector(".toggle-btn");
                        if (toggle) toggle.textContent = "▶";
                        next.style.display = "none";
                    }
                    next = next.nextElementSibling;
                }
            });
        });
    });
</script>


<!-- JS SELECT2-->
<script>
    $('#mat').select2();
    $('#sfc').select2();
    $('#trc_fl_phase').select2();
    $('#start_date').select2();
    $('#end_date').select2();
</script>

{% endblock %}